.snackbar-container {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  bottom: -48px;
  margin-left: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 0;
  font-size: 14px;
  min-height: 16px;
  height: 48px;
  min-width: 288px;
  max-width: 568px;
  border-radius: 2px;

  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.snackbar-container > * {
  text-align: center;
}

.snackbar-card {
  height: 48px;
  min-width: 288px;
  max-width: 568px;
  border-radius: 2px;
  z-index: 1;
  padding: 2px;
  position: relative;
  background-color: #323232;
  text-align: center;
  
  color: white;
}

.snackbar-card .snackbar-message {
  margin: 0em 2em 1em 2em;
  font-family: RobotoDraft;
}

.snackbar-card .snackbar-title {
  text-transform: uppercase;
  margin: 16px;
  font-size: 18px;
}
